<div class="container my-3">
  <div class="card mb-3">
    <div class="card-body">
      <p><%= @question %></p>
      <p><em>-You</em></p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <p><%= @answer %></p>
      <p><em>-Your Coach</em></p>
    </div>
  </div>

  <a href="/ask" class="btn btn-primary">Ask a new question</a>
  <!-- <%= link_to "Ask a new question", ask_path %> -->
</div>
