<div class="container py-3 my-3">
  <form action="/answer" method="get" class="form-inline">
    <div class="form-group">
      <input type="text" name="question" value="<%= params[:question] %>" placeholder="Type a question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
